<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>つぶやきアプリ</title>
</head>
<body>
    <h1>ログイン</h1>
    <form action='/index'>
    ID<br>
    <input type="text" name="id" required> {{errMsg1}}<br>
    パスワード<br>
    <input type="text" name="pwd" required> {{errMsg2}}<br>
    <button type="submit" formmethod="POST">ログイン</button>
    </form>
    <form action='/register'>
        <button type="submit" formmethod="GET">新規登録</button>
    </form>
    <br>
    {{errMsg3}}
</body>
</html>