<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>つぶやきアプリ</title>
</head>
<body>
	<h1>どこつぶメイン</h1>
	<p>
	{{name}}さん　ログイン中
	<input type="button" onclick="location.href='/logout' " value="ログアウト">
	</p>
	<p><a href="/main">更新</a></p>
	<form action="/main" method="post">
		<input type="text" name="text">
		<input type="submit" value="つぶやく">
	</form>
	<c:if test="${not empty errorMsg}">
	<p>${errorMsg}</p>
	</c:if>
	<c:forEach var="mutter" items="${mutterList}">
		<p><c:out value="${mutter.userName}" />:
		<c:out value="${mutter.text}"/></p>
	</c:forEach>
	<%-- <% if(errorMsg != null) { %>
	<p><%= errorMsg %></p>
	<% } %>
	<% for(Mutter mutter : mutterList) { %>
	<p><%= mutter.getUserName() %>:<%= mutter.getText() %></p>
	<% } %> --%>
</body>
</html>