<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>つぶやきアプリ</title>
</head>
<body>
	<h1>つぶやき一覧</h1>
	<p>
	{{name}}さん　ログイン中
	<input type="button" onclick="location.href='/logout' " value="ログアウト">
	</p>
	<input type="button" onclick="location.href='/main' " value="更新">
	<form action="/main" method="post">
		<input type="text" name="text">
		<input type="submit" value="つぶやく">
	</form>
	<div>
		<table>
			<thead>
				<tr>
					<th>名前</th>
					<th>つぶやき</th>
				</tr>
			</thead>
			<tbody>
				{% for item in tweets %}
				<tr>
					<th>{{item[2]}}</th>
					<th>{{item[3]}}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div> 
</body>
</html>