<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>つぶやきアプリ</title>
</head>
<body>
    <h1>新規登録</h1>
    <form action='/register'>
        
            ID<br>   
            <input type="text" name="id" required> {{errMsg}}<br>
        
        
            名前<br>
            <input type="text" name="name" required><br>    
        
        
            パスワード<br>   
            <input type="text" name="pwd" required><br>
        
        <button type="submit" formmethod="POST">登録</button>
    </form>
    <form action='/'>
        <button type="submit" formmethod="GET">戻る</button>
    </form>
</body>
</html>